@font-face {
    font-family: 'MuseoSans-500';
    src: url('../fonts/MuseoSans-500/MuseoSans-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSans-500/MuseoSans-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSans-500/MuseoSans-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSans-500/MuseoSans-500.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSans-500/MuseoSans-500.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSans-500/MuseoSans-500.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans-900';
    src: url('../fonts/MuseoSans-900/MuseoSans-900.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSans-900/MuseoSans-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSans-900/MuseoSans-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSans-900/MuseoSans-900.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSans-900/MuseoSans-900.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSans-900/MuseoSans-900.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf')  format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf')  format('truetype'); 
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf')  format('truetype'); 
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf')  format('truetype'); 
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf')  format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/Poppins/Poppins-Black.ttf')  format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf')  format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}